
<body>
    <div class="container-fluid" style="height: 100vh; background: hsl(230, 17%, 14%)">
        <div class="container">
            <table class="table  text-white">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoria</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
               
                {{#each productos}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{precio}}</td>
                    <td>{{stock}}</td>
                    <td>{{nombreCategoria}}</td>
                    <td><a href="/admin/productos/update/{{id}}" style="text-decoration:none"> Editar <i class="fas fa-edit text-primary"></i></a></td>
                    <td><a class="text-danger" style="text-decoration:none" href="/admin/productos/delete/{{id}}"> Eliminar<i class="fas fa-trash-alt text-danger" style="margin-left:5px"></i></a></td>
                </tr>
                {{/each}}
            </table>
            <a href="/admin/productos/create" class="btn mt-4 mb-4 text-light" style="background:hsl(228, 28%, 20%)">Agregar Productos</a>

        </div>
    </div>
</body>